<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  ></script>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TODO List</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container">
      <div class="todoForm">
          <form action="/createTodo" method="post">
            <div class="mb-3">
              <label for="task" class="form-label">Task</label>
              <input
                type="text"
                class="form-control"
                id="task"
                name="task"
                placeholder="Enter task"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-md">Add Task</button>
          </form>
      <div class="todos my-5">
        <ul class="list-todo list-group" id="todoList">
        </ul>
      </div>
    </div>
      <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">© 2024 TODO List</span>
        </div>
      </footer>
  </body>
</html>

