<!-- <div class="input-section">
    <form action="/todo" method="post">
    <input type="text" id="task-input" name="task" placeholder="Add a new task" />
    <button id="add-task-btn" type="text" name="title" placeholder="Enter Todo">Add Task</button>



</form>
</div> -->