body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    color: #fff;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    cursor: pointer;
}

.btn {
    text-decoration: none;
    padding: 0.75rem 2rem;
    background-color: #007BFF;
    color: #fff;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 1rem;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 20px rgba(0, 123, 255, 0.5);
    transform: translateY(-2px);
    cursor: pointer;
}
/* //login page */


  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .login-content .input-div {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 2px solid #a8a8a8;
  }

  .login-content .input-div.one {
    margin-top: 5px;
  }

  .input-div .i {
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: #a8a8a8;
  }

  input {
    border: none;
    outline: none;
    background: none;
    color: #a8a8a8;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .input-div {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }

  a.cre {
    color: #a8a8a8;
    text-decoration: underline;
    margin-left: 245px;
    margin-bottom: 10px;
    text-align: center;
    
  }

  
  /* //signup */

  
  a.acc{
    color: #a8a8a8;
    text-decoration: none;
    margin-left: 200px;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
  }

a>i {
    margin-right: 400px;
    color: #a8a8a8;
    text-decoration: none;
    cursor: pointer;

  }
  

  a:hover {
    color: #fff;
  }
